@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-zen-green-50: #f1f8f3;
    --color-zen-green-100: #ddeee1;
    --color-zen-green-200: #bdddc6;
    --color-zen-green-300: #91c4a4;
    --color-zen-green-400: #62a57d;
    --color-zen-green-500: #3b7c57;
    --color-zen-green-600: #2f6c4a;
    --color-zen-green-700: #25573d;
    --color-zen-green-800: #204532;
    --color-zen-green-900: #1b392a;
    --color-zen-green-950: #0e2018;

    --color-zen-cream-50: #fffdf6;
    --color-zen-cream-100: #fff6d5;
    --color-zen-cream-200: #feeaaa;
    --color-zen-cream-300: #fdd874;
    --color-zen-cream-400: #fbbc3c;
    --color-zen-cream-500: #f9a516;
    --color-zen-cream-600: #ea890c;
    --color-zen-cream-700: #c2690c;
    --color-zen-cream-800: #9a5212;
    --color-zen-cream-900: #7c4512;
    --color-zen-cream-950: #432107;

    --color-zen-gray: #2F2F2F;

    --font-sans: "Open Sans", sans-serif;
    --font-display: "Quicksand", sans-serif;

    --container-sm: 640px;
    --container-md: 768px;
    --container-lg: 1024px;
    --container-xl: 1280px;
}